
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About WOODcraft</title>


</head>
<body>
    <div id="particles"></div>



    <section class="hero">
        <div class="container">
            <img src="assets/img/profile.jpg" alt="WOODcraft logo" class="prof-img">
            <h1>WOODcraft</h1>
            <ul class="hero-links">
                <li><a target="_blank" href="https://www.instagram.com/farooq_sekh_5"><i class="fab fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://telegram.dog/Farooq_is_KING"><i class="fab fa-telegram"></i></a></li>
            </ul>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container">
            <h2>Hi, I am WOODcraft ❤️</h2>
            <h3>Nothing to be specifically noted about me.</h3>
            <p>I have a passion for wasting time. <br> I believe that with excessive behavioral traits of assholism I will be able to achieve those.</p>
            <br><br>
            <h2>Offline With Studies😒</h2>
            <p>Apart from all that what I love the most is to spend time in TG & other Bot making 🔭 </p>
            <br>
            <p class"astrophile-meaning"><small>*astrophile- a person who is deeply in love with Telegram.</small></p>
        </div>
    </section>

</body>
</html>
